GIMP
bsnes
font-manager
htop
neofetch
qutebrowser
K
cef_user_data polybar
ModTheSpire
compton
fontforge
lf
polybar-i3
rofi.jerbot
vlc
hunar
copyq
libreoffice
pulse
systemd
wal
dconf
gtk-3.0
nvim.backup
qalculate
transmission
xfce4
birdfont
hiro
discord
pavucontrol.ini
qt5ct
unity3d
